.SideBar{
    width: 100%;
    height: 100%;
}
.SideBar ul{
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 1rem 0 ;
    
}
.SideBar ul li {
    padding: 0.5rem ;
    cursor: pointer;
}
.SideBar ul li:hover {
 border: 1px solid #349499;
}
.SideBar ul li a{
    color: #349499;
}
.SideBar ul li a:hover{
    text-decoration: none;
}

@media (max-width: 991px){
    .SideBar{
        display: none;
    }
}